/* body{
background-color: bisque;
} */


/* Navbar */
/* Basic styling */
/* Base styles for mobile devices */
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.container {
  padding: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

/* Styles for tablets and larger screens */
@media (min-width: 768px) {
  .container {
      padding: 20px;
  }
}

/* Styles for desktops and larger screens */
@media (min-width: 1024px) {
  .container {
      padding: 30px;
  }
}

/* Example of a responsive navbar */
.navbar {
  display: flex;
  flex-wrap: wrap;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .navbar-nav {
      flex-direction: row;
  }
}

/* Example of responsive card layout */
.card {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .card {
      margin-bottom: 30px;
  }
}

@media (min-width: 1024px) {
  .card {
      margin-bottom: 40px;
  }
}

.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
  color: #fe424d;
  font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}


.f-info-links a{
     text-decoration: none;
     color: #222222;
}


.f-info-links :hover{
  text-decoration: underline;
  /* color: #222222; */
}

.f-info-links , .f-info-socials , .f-info-brand{
  width: 100%;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
 }




.f-info-socials i {
  margin-right: 1rem;
  font-size: 1.2rem;
}

.f-info{
  text-align: center;
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

/* cards */
.listing-card{
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top{
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
   padding: 0 !important;
}


.card-text p{
  font-weight: 400 !important;
}

.listing-link{
  text-decoration: none;
}

.card-img-overlay {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .card-img-overlay {
  opacity: 0.2;
  background-color: rgba(255, 255, 255, 0.5); /* Use rgba to set opacity for background */
}

/* Map */
#map
 { 
    height: 400px;
    width: 80vh;
  }